#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 70px;
}

#text {
    font-size: x-large;
    margin-top: 100px;
    font-family:'Courier New', Courier, monospace;
}

#about-pic {
    height: 800px;
    padding-left: 100px;
    margin-top: 70px;
}

 /* Footer formatting & icons */
 footer {
    flex-direction: column;
    margin-left: 15px;
 }

 /* Moblie Device */
@media (min-width: 450px)
{
    #container {
        flex-direction: column;
    }
    #text {
        font-size: large;
    }

    #about-pic {
        height: 500px;
        padding-left: 100px;
        margin-top: 70px;
    }
}
