/* Navigation bar formatting */
.flex-container-titleNav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
}

.navlinks {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: none;
  
    display: flex;
    position: relative;
    margin-top: 40px;
    margin-left: 30px;
    width: 100%;
  }

  .navlink > a {
    color: white;
    padding: 20px;
    display: inline-block;
    font-family: "Krungthep";
    font-size: 2.0em;
    text-decoration: none;
    opacity: 1;
  }

  .navlink-main > a {
    color: #ADCE83;
    padding: 20px;
    display: inline-block;
    font-family: "Krungthep";
    font-size: 2.0em;
    text-decoration: none;
    opacity: 1;
  }
    
  .navlink > a:hover {
      transform: scale(1.1);
  }

  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }

  /* LEGS FIT title formatting */
  #main-title {
      font-family: "Krungthep";
      text-align: center;
      top: 30%;
      position: relative;
      font-size: 8.0em;
      letter-spacing: 0.7em;
      color: rgb(0, 0, 0);
  }

  .sub-titles {
    font-family: "Krungthep";
    text-align: center;
    top: 5%;
    position: relative;
    font-size: 3.0em;
    letter-spacing: 0.2em;
  }

  /* Footer formatting & icons */
  footer {
      display: flex;
      justify-content: baseline;
      align-items: center;
      position: fixed;
      bottom: 0;
      margin-left: 30px;
      margin-bottom: 20px;
  }

  .footer-icons {
    width: 50px;
    height: 50px;
    padding-right: 10px
  }

  .add-to-cart {
    background-color: #ADCE83;
    color: white;

    align-items: center;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-family: "Krungthep";
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }   

.add-to-cart:hover,
.add-to-cart:focus {
  background-color:white;
  color: #ADCE83;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.add-to-cart:hover {
  transform: translateY(-1px);
}

.add-to-cart:active {
  background-color: white;
  color: #ADCE83;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}