#plan-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

#plan-container-2{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#linkTo {
    width: 600px;
}

#breakdown {
    margin-top: 20px;
}

#breakdown-image {
    margin-top: 50px;
    height: 600px;
}

ul#info li.sub-header {
    font-size: x-large;
    list-style-type: disc;
    font-family:'Courier New', Courier, monospace;
}

#caption {
    text-align: center;
    font-family: "Krungthep";
    font-size: large;
}

a {
    text-decoration: none;
    color: black;
}

#about-program {
    margin-top: 50px;
    font-family:'Courier New', Courier, monospace;
    font-size: x-large;
}

 /* Footer formatting & icons */
 footer {
    flex-direction: column;
    margin-left: 15px;
 }

 /* Moblie Device */
 @media screen and (max-width: 600px)
 {
    #plan-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 75px;
    }
    
     #linkTo {
         margin-top: 20px;
         width: 400px;
     }

     #breakdown-image {
         margin-top: 20px;
         height: 400px;
     }

     ul#info li.sub-header{
        font-size: large;
    }

    #about-program {
        text-align: justify;
        width: 350px;
        font-size: medium;
    }

 }
